# Backend Configuration
PORT=5000
NODE_ENV=development

# Decolecta API
DECOLECTA_TOKEN=sk_15314.s0Cgx4ZjRnm8Szj5UcQhvpw8LPXrkU0L
DECOLECTA_BASE_URL=https://api.decolecta.com

# CORS
FRONTEND_URL=http://localhost:5173